@import 'tailwindcss';

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400 700;
  src: url('/fonts/dm-sans/DMSans-VariableFont_opsz-wght.ttf')
    format('truetype');
  font-display: swap;
}

@theme {
  --color-Yellow-50: hsl(60, 92%, 95%);
  --color-Yellow-100: hsl(59, 100%, 88%);
  --color-Yellow-200: hsl(57, 100%, 77%);
  --color-Yellow-300: hsl(55, 100%, 65%);
  --color-Yellow-400: hsl(52, 98%, 53%);
  --color-Yellow-500: hsl(50, 95%, 47%);
  --color-Yellow-600: hsl(45, 98%, 40%);
  --color-Yellow-700: hsl(39, 94%, 33%);
  --color-Yellow-800: hsl(36, 82%, 29%);
  --color-Yellow-900: hsl(32, 74%, 25%);
  --color-Yellow-950: hsl(30, 86%, 14%);
  --color-Neutral-50: #e5e8ef;
  --color-Neutral-100: #d6dae5;
  --color-Neutral-200: #b6bdd2;
  --color-Neutral-300: #97a1be;
  --color-Neutral-400: #7784ab;
  --color-Neutral-500: #5c6a93;
  --color-Neutral-600: #485374;
  --color-Neutral-700: #353d54;
  --color-Neutral-800: #212635;
  --color-Neutral-900: #0d0f16;

  --color-Text: var(--color-Neutral-50);
  --color-Text-Inverted: var(--color-Neutral-800);

  --font-DM-Sans: 'DM Sans', 'sans-serif';
  --shadow-3xl: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);

  /* Animations */
  --animate-moveline: moveline 6s linear forwards;

  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
}

/*
Gradients
*/
@utility dark-gradient {
  background: linear-gradient(180deg, #040918 30%, #141e30 100%);
  background-repeat: no-repeat;
}
@utility light-gradient {
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  background-repeat: no-repeat;
}

@layer components {
  .lista {
    @apply py-2 px-3;
  }
  .lista-hover {
    @apply relative inline-block after:block after:h-0.5 after:bg-Neutral-400 dark:after:bg-Yellow-400 after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100 after:origin-left;
  }
  .bg-main {
    @apply bg-Neutral-50 dark:bg-Neutral-800/70 dark:bg-gradient-to-bl dark:from-Neutral-800/20 dark:to-Neutral-900 border border-white dark:border-Neutral-700/40;
  }
  .bento {
    @apply rounded-lg md:rounded-[20px] p-4 overflow-hidden select-none;
  }
  .btn-bento {
    @apply text-white bg-Neutral-800/80 font-semibold dark:text-Yellow-200/90 dark:bg-Yellow-800/40 dark:border dark:border-Yellow-800 rounded-lg py-1 px-3 shadow-3xl dark:shadow-none hidden md:block;
  }
  .h2 {
    @apply text-3xl pb-8 md:text-4xl text-center;
  }
  .parrafo {
    @apply mb-[1.2rem] text-sm leading-[1.4rem] max-w-prose md:text-base md:leading-[1.6rem];
  }
}
