@import 'tailwindcss';

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Fonts */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400 700;
  src: url('/fonts/dm-sans/DMSans-VariableFont_opsz-wght.ttf')
    format('truetype');
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-DM-Sans: 'DM Sans', 'sans-serif';

  /* Colors */
  --color-custom-gray-100: #e5e8ef; /* Bg light */
  --color-custom-gray-200: #d6dae5;
  --color-custom-gray-300: #b6bdd2;
  --color-custom-gray-400: #97a1be;
  --color-custom-gray-500: #7784ab;
  --color-custom-gray-600: #5c6a93;
  --color-custom-gray-700: #485374;
  --color-custom-gray-800: #353d54;
  --color-custom-gray-900: #212635;
  --color-custom-gray-950: #0d0f16; /* Bg dark */

  --color-light: var(--color-custom-gray-100);
  --color-dark: var(--color-custom-gray-950);

  --color-green-light-100: #dbfce7;
  --color-green-light-200: #05df72;
  --color-green-dark-100: #016630;
  --color-green-dark-200: #032e15;
}
@layer base {
  body {
    @apply font-DM-Sans bg-light dark:bg-dark text-custom-gray-800 dark:text-custom-gray-400;
  }
  h1 {
    @apply text-4xl font-bold text-custom-gray-700 dark:text-custom-gray-500 mb-4 md:text-5xl;
  }
  h2 {
    @apply text-3xl font-semibold text-custom-gray-700 dark:text-custom-gray-500 mb-3 md:text-4xl;
  }
  h3 {
    @apply text-2xl font-semibold text-custom-gray-700 dark:text-custom-gray-500 mb-2 md:text-3xl;
  }
  h4 {
    @apply text-xl font-medium text-custom-gray-700 dark:text-custom-gray-500 mb-2 md:text-2xl;
  }
  h5 {
    @apply text-lg font-medium text-custom-gray-700 dark:text-custom-gray-500 mb-2 md:text-xl;
  }
  h6 {
    @apply text-base font-medium text-custom-gray-700 dark:text-custom-gray-500 mb-2 md:text-lg;
  }
  p {
    @apply text-sm md:text-base max-w-prose leading-relaxed mb-4;
  }
  a {
    @apply text-blue-800 dark:text-blue-300 underline hover:no-underline;
  }
}
