---
import Section from '@/components/Section.astro';
---

<Section>
  <div class="w-fit mx-auto">
    <h2 class="h2" id="experiencia">Experiencia</h2>
    <p class="parrafo">
      En el ámbito laboral me desempeñé como <strong>Asesora Comercial</strong> en
      la <a
        class="border-b border-Yellow-600 dark:border-Yellow-500 hover:text-Yellow-600 hover:dark:text-Yellow-500 transition-all duration-300 ease-in-out"
        href="https://ucn.edu.co/"
        title="Web de la fundación universitaria católica del norte"
        target="_blank"
        rel="noopener noreferrer"
      >
        FUCN
      </a>, donde adquirí y desarrollé habilidades clave en comunicación y
      satisfacción del cliente logrando guiar a los estudiantes en la selección
      de programas que se alineaban con sus metas profesionales. Mi trabajo
      incluyó la gestión integral del ciclo de ventas, desde la prospección
      inicial hasta el cierre exitoso de la matrícula.
    </p>

    <p class="parrafo">
      Por otro lado, aunque no cuento con experiencia laboral formal en <strong
        >Desarrollo Web</strong
      > o <strong>Ciberseguridad</strong>, he desarrollado mis habilidades de
      forma autodidacta, impulsada por una genuina curiosidad por estas áreas.
      Esta motivación ha sido el motor para mantener una preparación constante y
      avanzar en mi formación técnica.
    </p>
    <p class="parrafo">
      Mi enfoque profesional se centra en el aprendizaje continuo, utilizando
      esta curiosidad para adoptar nuevas tecnologías y fortalecer tanto mis
      competencias técnicas como habilidades blandas. Creo firmemente que este
      compromiso con la mejora constante es clave para aportar valor en cada
      proyecto, creando soluciones bien pensadas, estructuradas y sostenibles en
      el tiempo.
    </p>
    <p class="parrafo">
      Actualmente curso el Grado en <strong>Ingeniería Informática</strong> en la
      <a
        class="border-b border-Yellow-600 dark:border-Yellow-500 hover:text-Yellow-600 hover:dark:text-Yellow-500 transition-all duration-300 ease-in-out"
        href="https://ucn.edu.co/"
        title="Web de la fundación universitaria católica del norte"
        target="_blank"
        rel="noopener noreferrer"
      >
        FUCN
      </a>. Paralelamente, refuerzo mi lógica de programación y la calidad de mi
      código a través de proyectos prácticos.
    </p>
  </div>
</Section>
