---
import Section from '@/components/Section.astro';
---

<Section>
  <h2 id="experiencia">Experiencia</h2>
  <div>
    <p>La experiencia laboral que tengo ha sido trabajando como Asesora Comercial en un Centro de Servicios Educativos de la Fundación Universitaria Católica del Norte.</p>
    <p>En cuanto al campo del Desarrollo Web y la Ciberseguridad aún no he tenido la oportunidad de trabajar en una empresa, pero, he ido adquiriendo experiencia al realizar proyectos para practicar mis conocimientos y mejorar mis habilidades mientras continúo mis estudios.</p>
  </div>
</Section>

<style>
  h2 {
    padding-bottom: 1.5rem;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
</style>
