---
import Section from '@/components/Section.astro';
---

<Section>
  <h2 id="experiencia">Experiencia</h2>
  <div>
    <p>Mi experiencia profesional incluye el cargo de <strong>Asesora Comercial</strong> en un Centro de Servicios Educativos de la 
      <a 
        href="https://ucn.edu.co/" 
        title="Web de la fundación universitaria católica del norte"
        target="_blank"
        rel="noopener noreferrer"
      >
        Fundación Universitaria Católica del Norte
      </a>.
    </p>

    <p>En el ámbito del <strong>Desarrollo Web</strong> y la <strong>Ciberseguridad</strong>, aunque aún no he tenido la oportunidad de formar parte de una empresa, he adquirido <strong>experiencia</strong> mediante el desarrollo de proyectos prácticos que me han permitido perfeccionar mis conocimientos y habilidades, mientras continúo con mis estudios en la carrera de <strong>Ingeniería Informática</strong>.</p>
  </div>
</Section>

<style>
  h2 {
    padding-bottom: 1.5rem;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    a {
      color: var(--white-color);
      border-bottom: 1px solid var(--hover-color);

      &:hover {
        color: var(--hover-color);
      }
    }
  }
</style>
