---
import Contacto from "../Contacto.astro"
---

<footer>
  <hr />
  <div class="container">
    <p>Hecho por Marisol Henao - 2024</p>
    <div class="contacto">
      <Contacto />
    </div>
  </div>
</footer>

<style>
  footer {
    max-width: 700px;
    /* 0 de margin arriba, auto lo centra, y 72px de separación por debajo */
    margin: 0 auto 80px;
    padding-top: 30px;
  }

  hr {
    border: 1px solid var(--secundary-color-900);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: 2rem;
    align-items: center;
  }

  p {
    color: var(--primary-color-50);
  }

  .contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem 0;
  }

  @media (width <= 768px) {
    .contacto {
      flex-wrap: wrap;
    }
  }
</style>
