---
import GitHub from '@/icons/GitHub.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import Mail from '@/icons/Mail.astro';
import Cv from '@/icons/cv.astro';
---

<footer>
  <hr />
  <div class="container">
    <p>Hecho por Marisol Henao - 2024</p>
    <div class="contacto">
      <div class="contacto-item">
        <a
          href="https://www.linkedin.com/in/marisol-henao-grajales"
          title="Visitar el perfil de Marisol en LinkedIn"
          target="_blank"
          rel="noopener noreferrer"><LinkedIn width="24" heigth="24" /></a
        >
        <a
          href="https://github.com/seandsun"
          title="Visitar el perfil de Marisol en GitHub"
          target="_blank"
          rel="noopener noreferrer"><GitHub width="24" heigth="24" /></a
        >
        <a
          href="https://github.com/seandsun"
          title="Visitar el portfolio descargable en formato pdf"
          target="_blank"
          rel="noopener noreferrer"><Cv width="24" heigth="24" /></a
        >
      </div>
      <div class="email">
        <a
          href="marisolhenoa.dev@gmail.com"
          title="Enviar un correo electrónico a Marisol al correo marisolhenao.dev@gmail"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span><Mail width="24" heigth="24" /> marisolhenao.dev@gmail.com</span
          ></a
        >
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    max-width: 700px;
    /* 0 de margin arriba, auto lo centra, y 72px de separación por debajo */
    margin: 0 auto 80px;
    padding-top: 30px;
  }

  hr {
    border: 1px solid var(--secundary-color-900);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: 2rem;
    align-items: center;
  }

  p {
    color: var(--primary-color-50);
  }

  .contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem 0;


    .contacto-item {
      display: flex;
      gap: 1rem;
    }
  }

  a {
    color: var(--secundary-color-400);
    border: 2px solid var(--secundary-color-900);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      border: 2px solid var(--secundary-color-700);
    }
  }

  a span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0px 6px;
    font-weight: 500;
  }

  .email a {
    background: var(--secundary-color-900);
    color: var(--primary-color-50);
    border: none;
    transition: 0.5s;

    &:hover {
      color: var(--primary-color-100);
      background: #25292e;
    }
  }

  @media (width <= 768px) {
    .contacto {
      flex-wrap: wrap;
    }
  }
</style>
