---
import Header from '@/components/layout/Header.astro';
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
---

<Layout
  title="Portfolio de Marisol Henao"
  description="Portfolio de Marisol Henao, +1 año de experiencia aprendiendo desarrollo web y ciberseguridad"
>
  <main class="max-w-[375px] m-auto md:max-w-[900px]">
    <Header />
  </main>
</Layout>
