---
import Cpu from '@/components/icons/cpu.astro';
import CpuOff from '@/components/icons/cpu-off.astro';
import Sun from '@/components/icons/sun.astro';
import Moon from '@/components/icons/moon.astro';

const icons = {
  cpu: Cpu,
  cpuOff: CpuOff,
  sun: Sun,
  moon: Moon,
};

type IconName = keyof typeof icons;

/*
"[key: string]: any;" Permite atributos (attrs) adicionales,
el nombre del atributo debe ser un string y su valor de cualquier tipo (any)
*/
interface Props {
  name: IconName;
  class?: string;
  [key: string]: any;
}

const { name, class: className, ...attrs } = Astro.props as Props;

const IconComponent = icons[name];
---

{
  IconComponent ? (
    <IconComponent class={className} {...attrs} />
  ) : (
    <span class="text-red-500 font-mono text-xs">
      [icon "{name}" not found]
    </span>
  )
}
